.invoice_situation_blue_color{
    color: black;
}

.table_situation_invoice{
    width: 100%;
    vertical-align: top;
}

/*https://stackoverflow.com/questions/2213881/is-it-possible-to-achieve-a-fieldset-like-effect-without-using-the-fieldset*/
.fieldset {
  border: 1px solid black;
  margin-top: 1em;
  width: 500px;
  color: black;
}

.fieldset h1, .fieldset h3 {
  font-size: 12px;
  text-align: center;
}

.fieldset h1 span, .fieldset h3 span{
  display: inline;
  border: 0px solid #cccccc;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  top: -1.3em;
}

.no_margin_side{
    margin-left: 0px;
    margin-right: 0px;
}

.flex_table {
  display: table;
  table-layout: fixed;
  width:100%;
}
.flex_row {
  display: table-row;
  vertical-align: top;
}
.flex_cell {
  display: table-cell;
  vertical-align: top;
}

.h_1rem{
  height: 1rem;
}

.text-at-right{text-align: right;}